<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.app.emp.mapper.EmpMapper">
	<sql id="empWhere">
		<where>
			<if test="departmentId != null and departmentId !=''">
				<!-- department_id= #{departmentId} -->
				AND department_id in
				<foreach open="(" close=")" collection="deptArr" item="dept"
					separator=",">
					#{dept}
				</foreach>

			</if>
			<if test="firstName != null and firstName !=''">
				AND first_name like '%${firstName}%'
			</if>
		</where>
	</sql>

	<select id="selectList"
		resultType="com.yedam.app.emp.service.EmpVO">
		SELECT employee_id, first_name, last_name, department_id
		FROM employees
		<include refid="empWhere"></include>
		<choose>
			<when test="orderColumn !=null and orderColumn !=''">
				ORDER BY ${orderColunm}
			</when>
			<otherwise>
				ORDER BY EMPLOYEE_ID
			</otherwise>
		</choose>
	</select>
	<select id="selectEmp" parameterType="int" resultType="EmpVO">
		SELECT *
		FROM employees
		WHERE
		employee_id=#{empNo}
	</select>

	<select id="selectCount" parameterType="empVO">
		select count(*) from employees
		WHERE #{firstName}
		<include refid="empWhere"></include>
	</select>

	<insert id="insertEmp" parameterType="empVO">
		<selectKey keyProperty="employeeId" resultType="string"
			order="BEFORE">
			select max(employee_id)+1 from employees
		</selectKey>
		INSERT INTO EMPLOYEES(
		EMPLOYEE_ID,
		LAST_NAME,
		EMAIL,
		HIRE_DATE,
		DEPARTMENT_ID,
		JOB_ID)
		VALUES (
		#{employeeId},
		#{lastName},
		#{email},
		#{hireDate},
		#{departmentId},
		#{jobId})
	</insert>

	<select id="selectJobs" resultType="map">
		SELECT JOB_ID "jobId",
		JOB_TITLE "jobTitle"
		FROM JOBS
		ORDER BY JOB_TITLE
	</select>
	<select id="selectDept" resultType="map">
		select * from departments
	</select>

	<delete id="deleteEmp">
		DELETE FROM EMPLOYEES
		WHERE EMPLOYEE_ID=#{employeeId}
	</delete>

	<update id="updateEmp">
		UPDATE EMPLOYEES
		SET
		FIRST_NAME=#{firstName},
		LAST_NAME=#{lastName},
		EMAIL=#{email},
		HIRE_DATE=#{hireDate},
		DEPARTMENT_ID=#{departmentId},
		JOB_ID=#{jobId}
		WHERE
		EMPLOYEE_ID=#{employeeId}
	</update>

</mapper>
  
  
  
  